@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    outline: none;
  }
:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

body {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height:100vh;
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  background-image: linear-gradient(
      21deg,
      rgba(64, 83, 206, 0.3697003234675773) 68%,
      rgba(255, 206, 196, 0.5) 163%
    ),
    linear-gradient(
      163deg,
      rgba(49, 146, 170, 0.07944489965716128) 86%,
      rgba(239, 112, 138, 0.5) 40%
    ),
    linear-gradient(30deg, rgba(76, 79, 173, 0.6173675716587805) 22%, rgba(237, 106, 134, 0.5) 169%),
    linear-gradient(48deg, rgba(31, 85, 147, 0.7323890641868473) 64%, rgba(247, 126, 132, 0.5) 43%);
  background-blend-mode: overlay, multiply, color, normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016),
    0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024),
    0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.left-bar {
  background-color: var(--bg-color);
  width: 230px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content {
  padding: 40px;
}
.item {
  color: var(--main-color);
  margin-bottom: 24px;
  font-weight: 500;
}
.item img {
  width: 14px;
  height: 14px;
  color: currentcolor;
  margin-right: 10px;
}

.category-list {
  margin-top: 50px;
}
.category-list .item {
  color: var(--secondary-color);
  
}
a:link {

  color: black;
  
  background-color: transparent;
  
  text-decoration: none;
  
  }
  
  a:visited {
  
  color: rgb(2, 13, 163);
  
  background-color:darkorange;  
  text-decoration: none;
  
}
  
a:hover {
color: red;
background-color: transparent;
}
a:active {
color: yellow;
background-color: transparent;
}
.actions {
padding: 12px;  
display: flex;
justify-content: space-between;  
}
  has context menu
.actions {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #fe4d46;
  box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
}
.circle-2 {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #d5d7e3;
  box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
}

/*  */

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
}


.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  
}

.nav-item {
  display: none;
}

.category {
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  transition: 0.4s ease-in;
  padding: 20px 30px;
  cursor: pointer;
}

#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label {
  color: var(--checkbox-color);
  border-bottom: 2px solid var(--checkbox-color);
}

/*  */

.task-item {
  display: none;
}
.tasks-wrapper {
  padding: 30px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
  color: var(--task-color);
  font-size: 13px;
  font-weight: 500;
}
.task:hover {
  transform: translatex(2px);
}
.task label {
  cursor: pointer;
}
label .label-text {
  position: relative;
}
label .label-text:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -24px;
  transition: 0.2s ease;
}

.task-item:checked + label .label-text:before {
  background-color: var(--checkbox-color);
  border: none;
  background-image: url('svg/check.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: 1px solid var(--checkbox-color);
}
.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
}
.tag.approved {
  background-color: var(--tag-color-one);
  color: var(--tag-color-text-one);
}
.tag.progress {
  background-color: var(--tag-color-two);
  color: var(--tag-color-text-two);
}
.tag.review {
  background-color: var(--tag-color-three);
  color: var(--tag-color-text-three);
}
.tag.waiting {
  background-color: var(--tag-color-four);
  color: var(--tag-color-text-four);
}

.upcoming {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/*  */

.members {
  display: flex;
  margin-top: 14px;
}
.members img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  object-fit: cover;
}

.right-bar {
  width: 320px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
}

.right-bar .header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}

.top-part {
  padding: 30px;
  align-self: flex-end;
}
.top-part img {
  width: 14px;
  height: 14px;
  color: var(--main-color);
  margin-right: 14px;
}

.top-part .count {
  font-size: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #623ce8;
  color: #fff;
  justify-content: center;
}
.right-content {
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
}
.task-box {
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(235, 235, 235, 1);
}
.task-box:hover {
  transform: scale(1.02);
}
.time {
  margin-bottom: 6px;
  opacity: 0.4;
  font-size: 10px;
}

body,
.item,
.top-part,
.top-part .count {
  display: flex;
  align-items: center;
}

.task-name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.yellow {
  background-color: var(--box-color);
}
.blue {
  background-color: var(--box-color-2);
}
.red {
  background-color: var(--box-color-3);
}
.green {
  background-color: var(--box-color-4);
}
.more-button {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e92a4;
  box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
  opacity: 0.4;
  right: 20px;
  top: 30px;
  cursor: pointer;
}
/*  */

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* TASKS CONTAINER */
.task__container{
    display: flex;
    margin-bottom: 3rem;
    /* background-color: brown; */
    padding: 10px;
}

.task__container .task__name{
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task__name.selected{
    box-shadow:0px 0px 0px 2px black inset;
}

#deselect{
    background-color: #1d3557;
    color: white;
}


/* SCHEDULE DESIGN */
.schedule__container{
    background: linear-gradient(#ebf4f5, #b5c6e0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 50%;
    
    
}
.date{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 6%;

    background-color: white;
     
    padding: 10px;
    margin: 20px;
    margin-left: 30%;

    width: 225px;
    height: 60px;

    border-radius: 25px;
    


}




.days__container{
    display: flex;
    
    
}
.wrapper{
  margin-bottom: 0;
  margin-top: 10%;
  display: flex;
}

.corner{
    width: 30px;
    height: 50px;
    margin: 2px;

}

.day{
    width: 80px;
    height:40px;
    border: solid 1px white;
    color: #0c265f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

    margin-top: 1%;


}

.part__day{
    display: flex;
}

.time{
    width: 30px;
    height: 70px;
    color: white;
    background-color: #103783;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.task{
    background-color: white;
    width: 80px;
    height: 70px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Reset Button */
.deleteBtn{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

.deleteBtn:hover{
    background-color: #eee;
}

/* Pop up */
.pop-up__container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.btn__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__answer{
    margin: 0 20px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
  .left-bar {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .task-manager {
    flex-direction: column;
    overflow-y: auto;
  }
  .right-bar,
  .page-content {
    width: 100%;
    display: block;
  }
  .tasks-wrapper {
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  .page-content {
    padding: 40px 10px 0 10px;
  }
  .right-content {
    padding: 10px 16px;
  }
  .category {
    padding: 20px;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}





.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  background-color:#a3b0e9;
  color: var(--main-text-color);
  -webkit-text-fill-color: #e5e8ef;
}
.button {
  background-color: #a3b0e9; 
  border: none;
  color: white;
  padding: 11px;
  text-align: middle;
  position:relative;
  left: 40%;  
  right: 60%; 
  border-bottom: 0; 
  margin-top:120%;
  width: 90px;
  height: 35px;
  
  -webkit-text-fill-color: #e5e8ef;
 
  
}

.button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




form input{
  width: 50%;
  height: 20px;
}
form{
  width: 300px;
  margin-left: 10%;
  height: 300px;
}
form label{
  font-family:bebas neue;
  font-size: 15px;
  margin: 7px 0;
  display: inline-block;
}
button{
  background: blueviolet;
  border: none;
  display: inline-block;
  padding:10px 25px;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}

div.ex1 {
  
  width: 900px;
  height:800px;
  overflow: scroll;
 
}
